{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}
  {% endblock meta %}
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>

<body>
</body>
  {% block content %}
  {% endblock content %}
</html>
