{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-default">
        <a class="navbar-brand" href="#">Experience</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a class="nav-link" href="{% url 'main:index' %}">Profile <span class="sr-only">(current)</span></a>
            <a class="nav-link active" href="#">Experience</a>
            <a class="nav-link" href="{% url 'main:gallery' %}">Gallery</a>
            <a class="nav-link" href="{% url 'main:contact' %}">Contact</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-md-4 compfest">
            <img class="cmpfst" src="{% static 'img/logocompfest-removebg-preview.png' %}" style="width: 270px;height: 270px;background-color: black;margin-top: 1.5vh;margin-left: 1.5vh;max-width: 92%;height: auto;">
            <br>
            <br>
            <h4>Compfest 12</h4>
            <h5>2020</h5>
            <p>Staff of Stage Division</p>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-4 perak">
            <img class="prk" src="{% static 'img/perak-removebg-preview.png' %}" style="width: 270px;height: 270px;background-color: white;margin-top: 1.5vh;margin-left: 1.5vh;max-width: 92%;height: auto;">
            <br>
            <br>
            <h4>Pesta Rakyat Komputer Fasilkom</h4>
            <h5>2020</h5>
            <p>Staff of Games Division</p>
          </div>
          </div>
        </div>
      </div>
    {% endblock content %}