{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-default">
        <a class="navbar-brand" href="#">Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a class="nav-link" href="{% url 'main:index' %}">Profile <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="{% url 'main:exp' %}">Experience</a>
            <a class="nav-link active" href="#">Gallery</a>
            <a class="nav-link" href="{% url 'main:contact' %}">Contact</a>
          </div>
        </div>
      </nav>
      <div class="container gal">
        <h2 style="padding: 10px;">Hi!</h2>
        <p style="padding-left: 10px;">Here are some pictures taken and edited by me.</p>
        <p style="padding-left: 10px;">Enjoy!</p>
        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <a href="https://vsco.co/memahafizh/media/5b4cb7342c63de1762000001" target="_blank"><img src="{% static 'img/hihor.jpg' %}" alt="Bundaran HI, Indonesia, 2018" style="width: 100%;"></a>
                        <div class="caption">
                            <p>Bundaran HI, Indonesia, 2018</p>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://vsco.co/memahafizh/media/5cbd721b2e637b4d2d000001" target="_blank"><img src="{% static 'img/hiver.jpg' %}" alt="Bundaran HI, Indonesia, 2019" style="width:100%"></a>
                <div class="caption">
                  <p>Bundaran HI, 2019</p>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://vsco.co/memahafizh/media/5f7878792e637b0366000001" target="_blank"><img src="{% static 'img/senayanver.jpg' %}" alt="Sudirman, Indonesia, 2019" style="width:100%"></a>
                <div class="caption">
                  <p>Sudirman, Indonesia, 2019</p>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://vsco.co/memahafizh/media/5a41fe7214aee2081d000001" target="_blank"><img src="{% static 'img/mbsver.jpg' %}" alt="Marina Bay Sands, Singapore, 2017" style="width:100%"></a>
                <div class="caption">
                  <p>Marina Bay Sands, Singapore, 2017</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="thumbnail">
                <a href="https://vsco.co/memahafizh/media/5a4289f314aee246cd000009" target="_blank"><img src="{% static 'img/mbshor.jpg' %}" alt="National Gallery, Singapore, 2017" style="width:100%"></a>
                  <div class="caption">
                    <p>National Gallery, Singapore, 2017</p>
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="container more">
                <p>For more, visit <a href="https://vsco.co/memahafizh/gallery" class="here" target="_blank">here</a></p>
            </div>
        </div>
    </div>
    {% endblock content %}